parameters:
    pim_extended_attribute_type.datagrid.extension.selector.orm.product_value.range.class: Pim\Bundle\ExtendedAttributeTypeBundle\DataGrid\Extension\Selector\ORM\ProductValue\RangeSelector

services:
    pim_extended_attribute_type.datagrid.extension.selector.orm.product_value.range:
        class: '%pim_extended_attribute_type.datagrid.extension.selector.orm.product_value.range.class%'
        arguments:
            - '@pim_datagrid.extension.selector.orm.product_value.base_selector'
        tags:
            - { name: pim_datagrid.extension.selector, type: product_value_range }
