<style>
    .range-container {
        display: flex;
        max-width: 300px;
    }
    .keyword {
        padding-top: 6px;
    }
    .min {
        width: 40%;
        float: left;
        margin: 0 5px;
    }
    .max {
        width: 40%;
        float: right;
        margin: 0 5px;
    }
</style>

<div class="range-container">
    <span class="keyword">Min</span>
    <input type="text"
           class="min"
           data-locale="<%- value.locale %>"
           data-scope="<%- value.scope %>"
           value="<%- value.data.min %>" <%- editMode === 'view' ? 'disabled' : '' %>
    />
    <span class="keyword">Max</span>
    <input type="text"
           class="max"
           data-locale="<%- value.locale %>"
           data-scope="<%- value.scope %>"
           value="<%- value.data.max %>" <%- editMode === 'view' ? 'disabled' : '' %>
    />
</div>
