<div id="<%- fieldId %>" class="asset-gallery">
    <table class="pim-extended-attribute-string-collection-values" style="width: 100%">
        <tbody>
        <% if (null !== value.data) { %>
        <% JSON.parse(value.data).forEach(function(text){ %>
        <tr>
            <% if (editMode !== 'view') { %>
            <td class="handle"><i class="icon-reorder"></i></td>
            <% } %>
            <td><input type="text" class="pim-extended-attribute-string-collection-field pim-extended-attribute-string-collection-value"
                <%= editMode === 'view' ? 'disabled' : '' %>
                value="<%= text %>"
                />
            </td>
            <% if (editMode !== 'view') { %>
            <td>
                <button class="btn btn-small action-delete-inline" type="button"><i class="icon-remove"></i></button>
            </td>
            <% } %>
            <td>
                <img src="<%= text %>" style="width: 50px;"/>
            </td>
        </tr>
        <% }); %>
        <% } %>

        <% if (editMode !== 'view') { %>
        <tr>
            <td></td>
            <td><input type="text"
                       class="pim-extended-attribute-string-collection-new-value"
            /></td>
            <td><button
                    class="btn btn-success pim-extended-attribute-string-collection-add"
            >Add item</button></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% if (editMode !== 'view') { %>

    <% } %>
</div>
