parameters:
    pim_extended_attribute_type.provider.field.range.class: Pim\Bundle\ExtendedAttributeTypeBundle\Provider\Field\RangeFieldProvider
    pim_extended_attribute_type.provider.field.text_collection.class: Pim\Bundle\ExtendedAttributeTypeBundle\Provider\Field\TextCollectionProvider
    pim_extended_attribute_type.provider.field.url_collection.class: Pim\Bundle\ExtendedAttributeTypeBundle\Provider\Field\UrlCollectionProvider
    pim_extended_attribute_type.provider.empty_value.range.class: Pim\Bundle\ExtendedAttributeTypeBundle\Provider\EmptyValue\RangeEmptyValueProvider

services:
    pim_extended_attribute_type.provider.field.range:
        class: '%pim_extended_attribute_type.provider.field.range.class%'
        tags:
            - { name: pim_enrich.provider.field, priority: 100 }

    pim_extended_attribute_type.provider.empty_value.range:
        class: '%pim_extended_attribute_type.provider.empty_value.range.class%'
        tags:
            - { name: pim_enrich.provider.empty_value, priority: 90 }

    pim_extended_attribute_type.provider.field.text_collection:
        class: '%pim_extended_attribute_type.provider.field.text_collection.class%'
        tags:
            - { name: pim_enrich.provider.field, priority: 100 }

    pim_extended_attribute_type.provider.field.url_collection:
        class: '%pim_extended_attribute_type.provider.field.url_collection.class%'
        tags:
            - { name: pim_enrich.provider.field, priority: 100 }
